@page "/import"
@inject IExcelService _excelService;
@inject IExcelSignalService _excelSignalService;
<PageTitle>Import file</PageTitle>

<InputFile OnChange="@HandleFileUpload" />
<button @onclick="ImportData">Import</button>

@* <button class="text-green-400" @onclick="CreateSample">Create Sample</button> *@


@code {
    private IBrowserFile excelFile;
    private HubConnection? _hubConnection;

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        excelFile = e.File;
    }

    private async void ImportData()
    {
        if (excelFile != null)
        {
            // Gọi hàm xử lý import từ thư viện đã chọn
            var datas = _excelService.ImportAsync(excelFile.OpenReadStream()).Result;
            await UpdateExcelData(datas);

        }
    }

    private async Task UpdateExcelData(List<ExcelData> datas)
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SendMessage", datas);
        }
    }

    public bool IsConnected => _hubConnection?.State == HubConnectionState.Connected;


    private void CreateSample()
    {
        _excelService.CreateSample("Sample.xlsx");
    }
}