@page "/"
@implements IAsyncDisposable
<PageTitle>Index</PageTitle>
<h1 class="text-red-500">Hello, world!</h1>


@foreach (var item in excelTable)
{
    <p>@item.Name</p>
    <p>@item.Group</p>
    <p>@item.Point</p>
}

@code {
    private HubConnection? _hubConnection;
    List<ExcelData> excelTable = new();
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
        .WithUrl(("http://localhost:5177/exceldatahub"))
        .Build();
        _hubConnection.On<List<ExcelData>>("SendMessage", (datas) =>
        {
            excelTable = datas.OrderBy(x => x.Point).ToList();
            InvokeAsync(StateHasChanged);
        });
        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

}