@inherits LayoutComponentBase
<PageTitle>FPT_Vote</PageTitle>

<div class="w-full h-full relative overflow-x-hidden">
    <NavMenu />
    <div class="container m-auto my-8">
        <div class="min-h-screen">
            @Body
        </div>
    </div>
    <div>
        <div class="bg-[#242424] h-16">
            <div class="container m-auto h-full w-full flex  justify-center px-5 items-center">
                <div class="text-white font-['Quicksand']">Jay Andy - 2023</div>
            </div>
        </div>
    </div>

</div>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<script src="/js/lucide-create.js"></script>