@inherits LayoutComponentBase

<PageTitle>FPT_Vote</PageTitle>

<div class="bg-[#EDC228]  w-full h-full relative">
    <div class="left-0 right-0 h-16 top-0 bg-[#242424] sticky ">
        <div class="container m-auto h-full w-full flex flex-shrink-0 justify-between px-5 items-center">
            <NavLink href="/" class="text-white font-['Quicksand']">Gamification</NavLink>
            <div class="text-white">
                <i class="w-8 h-8" data-lucide="align-justify"></i>
            </div>
        </div>
    </div>
    <div class="container m-auto mt-8 min-h-screen">
        @Body
    </div>
    <div>
        <div class="left-0 right-0 h-16 bottom-0 bg-[#242424] absolute ">
            <div class="container m-auto h-full w-full flex  justify-center px-5 items-center">
                <div class="text-white font-['Quicksand']">Jay Andy - 2023</div>

            </div>
        </div>
    </div>
</div>


<script>
    lucide.createIcons();
</script>